.contents__wrapper {
  box-sizing: border-box;
  margin: 40px auto 0;
  width:920px;
}

.input__container {
  border: 2px solid black;
  width:920px;
  /* margin: 0 auto; */
  padding: 40px;
}

.output__container {
  margin-top: 40px;
  width:1000px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}