p {
  margin: 0;
  padding: 15px;
  line-height: 1.5;
}

.output__item {
  width: 900px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 20px;
  text-align: left;
  font-size: 16px;
}

.output__item + .output__item{
  margin-top: 40px;
}
